body {
	background-color: rgb(229, 0, 0);
	background-image: url("planetPics/background.jpg");
	background-size: auto;
	font-family: "Gruppo"; 
	font-size: 22px;
}

h1 {
	background-color: rgb(134, 134, 134);
}

img.dimension{
	max-width:  420;
	max-height:  250;
}

table {
	width: 100%;
	height: 100%;
	background-color: rgb(134, 134, 134);


}

tr.TopRow {
	color: white;
	background-color: rgb(196, 13, 13);
}

tr.mass{
	color: white;
}

tr.diameter{
	color: rgb(104, 104, 104);
}

tr.density{
	color: white;
}

tr.distance{
	color: rgb(104, 104, 104);
}

tr.surfcTemp{
	color: white;
}