body {
	background-color: rgb(229, 0, 0);
	background-image: url("planetPics/background.jpg");
	background-size: auto;
	font-family: "Gruppo"; 
	font-size: 22px;

}

h1 {
	background-color: rgb(134, 134, 134);
	outline-width: 5px;
	outline-style: ridge;
	outline-color: red;
}

h2{
	background-color: rgb(134, 134, 134);
	outline-width: 5px;
	outline-style: ridge;
	outline-color: red;
}
img.dimension{
	width: 23%;
	height: 30%;
}

table {
	width: 100%;
	height: 100%;
	background-color: rgb(134, 134, 134);
	outline-width: 5px;
	outline-style: ridge;
	outline-color: red;
	text-align: center;

}

tr.TopRow {
	color: white;
	background-color: rgb(196, 13, 13);
	text-shadow: 2px 2px #720606;
}

tr.mass {
	color: white;

}

tr.diameter {
	color: rgb(0, 0, 0);

}

tr.density {
	color: white;
}

tr.velocity {
	color: rgb(0, 0, 0);
}

tr.period {
	color: white;
}

tr.revPeriod {
	color: rgb(0, 0, 0);
}

tr.distance{
	color: white;
}


h4{
	font-size: 16px;
	align-content: center;
	color: grey;
	text-align: center;
}
.source {
	font-size: 16px;
	align-content: center;
	color: grey;
	text-align: center;
}

